<p>error-page works!</p>
<ul>
    <li>
        <a routerLink="/auth/login"> ir al login</a>
    </li>
    <li>
        <a routerLink="/auth/registro">ir al Registro</a>
    </li>
    <li>
        <a routerLink="/heroes/listado">ir al Listado</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">ir al Agregar</a>
    </li>
    <li>
        <a routerLink="/heroes/editar/:id">ir al Editar</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">ir al buscar</a>
    </li>
    <li>
        <a routerLink="/heroes/:id">ir al heroe por id</a>
    </li>
</ul>